{{- if or .Values.config (gt (int .Values.bitcoin.prune) 0) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "bitcoin-core.fullname" . }}
  labels:
    {{- include "bitcoin-core.labels" . | nindent 4 }}
data:
  bitcoin.conf: |
    {{- if gt (int .Values.bitcoin.prune) 0 }}
    prune={{ .Values.bitcoin.prune }}
    {{- end }}
    {{- if .Values.config }}
    {{- .Values.config | nindent 4 }}
    {{- end }}
{{- end }}
